.btn {
  display: inline-block;
  font-family: "Poppins";
  padding: 16px 32px;
  background: var(--cor-2);
  color: var(--cor-3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: var();
}
