.font-xl {
  font: 700 64px/96px "Poppins", Helvetica, sans-serif;
}
.font-l {
  font: 600 1.7rem "Poppins", Helvetica, sans-serif;
}
.font-m {
  font: 400 18px/26px "Inter", Helvetica, sans-serif;
}
.font-p {
  font: 400 16px "Poppins", Helvetica, sans-serif;
}
