.curso-container {
  display: flex;
  justify-content: center;
  background: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-container {
  display: flex;
  max-width: 1300px;
  justify-content: center;
  height: 600px;
  position: relative;
}

.img-container img {
  display: block;
  max-width: 100%;
  object-fit: scale-down;
}
.img-container a {
  padding: 15px 17px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 550px;
  right: 0px;
}
.curso-conteudo {
  max-width: 900px;
  padding: 30px;
  margin: 64px auto 120px auto;
}
.curso-conteudo h1 {
  font-family: "Poppins";
  font-size: 32px;
  line-height: 40px;
  color: #222;
  margin-bottom: 32px;
}
.curso-conteudo p {
  font-family: "Inter";
  font-size: 16px;
  line-height: 40px;
  color: #565656;
  max-width: 360px;
  margin-left: 120px;
}
.curso-conteudo ul{
  margin-bottom: 64px;
}
.btn-voltar {
  font-family: "Poppins";
  padding: 16px 32px;
  background: #222;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 120px;
}

@media(max-width: 420px){
.curso-conteudo p{
  margin-left: 0;
}
.curso-conteudo h1{
  font-size: 24px;
}
.btn-voltar{
  margin-left: 0;
}
}