.experiencia-container {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}
.experiencia-container h2 {
  line-height: 2.5rem;
}
.experiencia-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.experiencia-conteudo h3 {
  margin-bottom: 32px;
}
.experiencia-conteudo p {
  margin-bottom: 40px;
}
.experiencia-conteudo {
  margin-bottom: 60px;
}
@media (max-width: 1090px) {

.experiencia-conteudo {
  grid-template-columns: 1fr;
}
.maneu-img {
  grid-row: 1;
}
}
@media (max-width: 750px) {
  .experiencia-conteudo{
    place-items: center;
  }
  .chapa-img img{
    width: 450px;
    height: 345px;
}
  .maneu-img img {
    width: 375px;
    height: 297px;
}
}
@media (max-width: 600px) {
 #experiencia header {
    padding-bottom: 0px;
  }
  .experiencia-container{
    justify-content: center;
    }
.chapa-img img{
    width: 310px;
    height: 195px;
}
.maneu-img img {
    width: 265px;
    height: 187px;
}
.experiencia h2 {
  font-size: 2rem;
  text-align: center;
}
.experiencia-conteudo {
  margin-bottom: 0px;
}
.experiencia-conteudo h3 {
  font-size: 1.5rem;
}
.experiencia-conteudo p {
  font-size: 1rem;
}
.experiencia-conteudo a {
  font-size: 0.875rem;
}
  #experiencia header {
    margin-bottom: 0px !important;
  }
}