* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: linear-gradient(45deg, #E3DFE6 17.55%, #FDFBFF 84.56%);
}
/* Animação */
[data-anime="anime"]{
  opacity: 0;
  transition: 1.5s;
}

[data-anime="anime"] {
  transform: translate3d(0px, -50px, 0px);
}

[data-anime="anime"].animation {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}