#logo {
  display: none;
}
#header {
  max-width: 1200px;
  height: 70px;
  display: flex;
  padding: 70px 30px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
#nav a {
  color: black;
  font-family: Poppins;
  font-style: sans-serif;
  padding: 1rem 0;
  position: relative;
}
#nav a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background: #222;
  position: absolute;
  transition: 0.3s;
  margin-top: 4px;
}
#nav a:hover::after,
#nav a.active::after {
  width: 100%;
}

#menu {
  display: flex;
  gap: 2.5rem;
}
#btn-mobile {
  display: none;
}

@media (max-width: 990px) {
  #nav a::after {
    display: none;
  }
  #btn-mobile {
    display: block;
  }
  #menu {
    display: block;
    position: absolute;
    width: 30%;
    top: 120px;
    right: 30px;
    border-radius: 15px;
    background: var(--cor-1);
    transition: 0.3s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: 175px;
    visibility: visible;
    overflow: auto;
  }
  #menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    margin: 0 30px;
    color: var(--cor-3);
    text-align: center;
  }
  #btn-mobile {
    font-size: 1rem;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    gap: 20px;
    border-color: #c07;
    background: var(--cor3);
  }
  #hamburger {
    width: 20px;
    border-top: 2px solid;
  }
  #hamburger::after,
  #hamburger::before {
    width: 20px;
    height: 2px;
    background: currentColor;
    content: "";
    display: block;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
@media (max-width: 600px) {
  #header{
    background: var(--cor-bg-1);
  }
  #logo-grande {
    display: none;
  }
  #logo {
    display: block;
  }
  #menu{
    width: 50%;
  }
}
