.introducao-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.introducao-card {
  padding: 64px;
  align-items: center;
  max-width: 1400px;
  background: #ffe7d8;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.introducao-conteudo h1 {
  max-width: 550px;
  margin-bottom: 32px;
  margin-left: 18px;
}
.introducao-conteudo p {
  max-width: 530px;
  margin-left: 18px;
}
.introducao-card img {
  margin-left: 32px;
  margin-right: 18px;
  height: 500px;
  max-width: 100%;
}

@media (max-width: 1143px) {
  .introducao-conteudo h1 {
    font-size: 3.5em;
  }
  .introducao-conteudo p {
    font-size: 1em;
  }
  .introducao-card img {
    height: 400px;
  }
}

@media (max-width: 990px) {
  .introducao-card {
    flex-direction: column;
    width: 100%;
  }
  .introducao-conteudo h1 {
    text-align: center;
  }
  .introducao-conteudo p {
    margin-bottom: 32px;
    text-align: center;
  }
  .introducao-card img {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .introducao-container {
    margin: 0px;
  }
  .introducao-card {
    border-radius: 0px;
    margin: 0px;
    padding: 0 64px;
  }
  .introducao-conteudo h1 {
    font-size: 2em;
    text-align: center;
    line-height: 44px;
  }
  .introducao-conteudo p {
    font-size: 0.9em;
    text-align: center;
  }
  .introducao-card img {
    height: 350px;
    margin-right: 0;
    margin-bottom: 64px;
  }
}
