.home-formacao h2 {
margin-bottom: 60px;
}
.home-formacao-conteudo {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 40px;
}
.home-formacao-conteudo h3 {
position: relative;
}
.home-formacao-conteudo h3::before {
content: '';
display: inline-block;
width: 10px;
height: 10px;
background: linear-gradient(94.55deg, #C269FE 0%, #894DEB 109.65%);
border-radius: 2px;
position: absolute;
top: 13px;
left: -20px;
}
.home-formacao-conteudo img {
place-self: center;
}
.informacoes {
place-self: center;
}
.informacoes h3{
margin-bottom: 10px;
}
.informacoes p{
margin-bottom: 32px;
}
@media (max-width: 1024px) {
.home-formacao-conteudo {
grid-template-columns: 1fr;
}
.home-formacao-conteudo img {
width: 460px;
}
.home-formacao-conteudo h3 {
font-size: 1.5rem;
}
.home-formacao-conteudo h3::before {
top: 13px;
}
}
@media (max-width: 800px) {

.home-formacao h2 {
font-size: 2rem;
text-align: center;
}
.home-formacao-conteudo img {
margin-bottom: 80px;
}
}
@media (max-width: 600px) {
.home-formacao-conteudo h3::before {
display: none;
}
}
@media (max-width: 425px) {
.informacoes h3 {
font-size: 1.3rem;
font-weight: bold;
}
.informacoes p {
font-size: 1rem;
}
.home-formacao-conteudo img {
width: 350px;
}
}
@media (max-width: 280px) {
  .home-formacao h2 {
    font-size: 1.5rem;
  }
  .home-formacao-conteudo img  {
    width: 250px;
    height: 250px;
  }
}