.formacao-titulo {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 60px;
}
.formacao-titulo h2 {
  line-height: 2rem;
}
.formacao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.superior h3 {
  margin-top: 8px;
  margin-bottom: 16px;
}
.superior-conteudo{
  box-shadow: 0px 4px 20px rgba(0, 0, 77, 0.1);
  border-radius: 10px;
  padding: 40px 20px;
  margin-bottom: 40px;
}
.cursos h3 {
  margin-bottom: 16px;
}
.curso-conteudo {
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 77, 0.1);
  padding: 16px 20px;
  margin-bottom: 20px;
}
.curso-conteudo a {
  display: inline-block;
  border-radius: 10px;
  padding: 6px 12px;
  margin-bottom: 20px;
  position: relative;
}
.curso-conteudo a::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: linear-gradient(0deg, #894DEB -10.35%, #C269FE 114.34%);
  border-radius: 2px;
  position: absolute;
  top: 14px;
  left: -8px;
}
.cursos-info {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.cursos-info li {
  padding: 6px 12px;
  background: #fff;
  border-radius: 5px;
  font-family: "IBM plex mono";
}
@media (max-width: 1030px) {
  .formacao h2 {
    text-align: center;
  }
  .formacao-conteudo {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .formacao-conteudo img {
    place-self: center;
    width: 450px;
    height: 450px;
    grid-row: 3;
  }
}
@media (max-width: 600px) {
  #formacao header {
    padding-bottom: 0px;
  }
  .formacao-titulo {
    justify-content: center;
  }
  .formacao h2 {
    font-size: 2rem;
  }
  .curso-ui {
    width: auto;
  }
  .superior h3,
  .curso-ui a {
    font-size: 1.3rem;
  } 
  .superior span,
  .superior p,
  .curso-ui li {
    font-size: 1rem;
  }
  .formacao-conteudo img {
    width: 300px;
    height: 300px;
  }
}